.A_Container{
    margin: 0;
    padding: 0;
}
.A_img{
    width: 500px;
    border-radius: .7rem;
    border: 2px solid white;
    margin-left: 18%;
}
.A_Column{
    display: flex;
    background-color: black;
}
.A_Box, .B_Box{
    width: 50%;
    padding: 5% 0;
    border-bottom: 5px solid white;
}
.A_Box{
    border-right: 5px solid white;
}
.A_Box_İnformation{
    text-align: center;
    color: white;
    padding-top: 5%;
    padding: 0 3%;
}
.A_Title{
    margin: 4% 0;
    font-family:  cursive ;
    color: rgb(34, 248, 6);
}
.A_Box_İnformation p{
    font-family: cursive;
    font-size: 1.2rem;
}
.link{
    font-family: cursive;
    background-color: black;
    color:red;
}
.link:hover{
    transition: 1s;
    letter-spacing: 5px;
    color: blue;
}