.footer{
    background-color: rgb(189, 30, 30);
    height: 100px;
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
  
}
.totalName{
    display: flex;
    text-align: center;
    height:100%;
    width: 15%;
    margin: auto;
}
.firstName{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 34px;
    margin-top: 38px;
    margin-right: 5%;
}
.lastName{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 34px;
    margin-top:38px;
}