.navbar{
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
    height: 90px;
    border-bottom: 1px solid;
    flex-shrink: 0;
   
}

.navbar-items{
    display: flex;
    list-style: none;
    background-color: rgb(255, 255, 255);
}
li{
    margin: auto;
    margin-top: 35px;
    background-color: rgb(255, 255, 255);

}
a{
    color: black;
    text-decoration: none;
    font-size: 1.1rem;
    background-color: rgb(255, 255, 255);
    font-family: 'overpass',sans-serif;
    

}
